body {
  box-sizing: border-box;
  margin: 0;
}

.navigation {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: #7c7c7c;
  transition: 0.4s;
}

a:hover {
  color: #03a9f4;
}

li {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-weight: 500;
  padding-top: 70px;
  padding-bottom: 103px;
}

.nav-item {
  margin-right: 100px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.container {
  max-width: 920px;
  margin: auto;
}

.content {
  display: inline-block;
  max-width: 420px;
  margin-right: 60px;
  margin-bottom: 130px;
}

.content:nth-child(2n + 2) {
  margin-right: 0px;
}

.name {
  text-transform: uppercase;
  padding-bottom: 12px;
  font-family: "Ubuntu", sans-serif;
  color: #c8c3b8;
  font-weight: 300;
}

.heading {
  padding-bottom: 14px;
  font-family: "Playfair Display", serif;
  color: #626262;
}

.paragraph {
  font-family: "Playfair Display", serif;
  color: #626262;
  line-height: 24px;
  font-size: 14px;
}

.button {
  text-align: center;
  padding-bottom: 70px;
}

.main-button {
  color: #626262;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 22px 34px;
  border: 1px solid #626262;
  transition: 0.4s;
}

.main-button:hover {
  background-color: #03a9f4;
  color: white;
}

.content:nth-last-child(-n + 2) {
  margin-bottom: 53px;
}